* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

button {
  all: unset;
  cursor: pointer;
  background-color: #eef;
  text-align: center;
}

@keyframes button {
  0% {
    background-color: #eef;
    box-shadow: 3px 3px 3px #111;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: #eef;
    box-shadow: 3px 3px 3px #111;
  }
}

button:focus {
  box-shadow: none;
  animation-name: button;
  animation-duration: 0.4s;
  animation-fill: fowards;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#border {
  display: flex;
  width: 50%;
  background-color: #666;
  border: 2px orange solid;
  justify-content: space-around;
  padding: 2em 0;
}

.drumStyle {
  width: 35%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
}

#controls {
  width: 15%;
  display: grid;
  grid-template-columns: 1fr;
}

#controls h3 {
  font-size: 1.1rem;
  height: 2rem;
  background-color: #efe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padStyle {
  padding: 1.8em;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px #111;
  border-radius: 5px;
}

.Heater-1 {
  background-color: red;
  transition: linear 0.3s;
}

.Chord-1 {
  background-color: green;
  transition: linear 0.3s;
}
